body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

#converter {
   text-align: center;
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
   margin: 10px;
   padding: 8px;
   font-size: 16px;
}

#result {
   font-size: 18px;
   margin-top: 20px;
}

#error {
   color: red;
}
