body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50px;
}

main {
    margin: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.result {
    margin-top: 20px;
}

#resultContent {
    white-space: pre-wrap;
}
