body.high-contrast {
    background-color: #000;
    color: #fff;
}

body.high-contrast button {
    background-color: #fff;
    color: #000;
}

body.high-contrast p {
    border: 2px solid #fff;
    padding: 10px;
}
