body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#editor-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: flex;
}

#markdown-input,
#html-preview {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 300px;
    overflow: auto;
}

#html-preview {
    margin-left: 10px;
    background-color: #f9f9f9;
}
