body {
    font-family: "Arial", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#meme-container {
    position: relative;
    margin-top: 20px;
}

#meme-image {
    max-width: 100%;
    height: auto;
}

#top-text,
#bottom-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

#top-text {
    top: 10px;
}

#bottom-text {
    bottom: 10px;
}

#form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
