/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Roboto", sans-serif;
}
.app {
	min-width: 500px;
	border: 1px solid #ffffff16;
	padding: 50px 30px;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	background: #ffffff46;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.app .container h1 {
	font-weight: 700;
	letter-spacing: 0px;
	margin-bottom: 30px;
}
.app .container #color {
	border-radius: 1px;
	padding: 5px 10px;
	color: #383838;
	letter-spacing: 0px;
	cursor: pointer;
	font-size: 1.2rem;
}
.app .btn {
	padding: 8px 16px;
	margin-top: 30px;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 2px;
	border: 1px solid #ffffffb3;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: #ffffffb3;
}
