/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

:root {
    --primary: #efefef;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #f7f7f7;
    font-family: "Roboto", sans-serif;
    background: rgb(212, 15, 100);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}

/* === Default === */
.hide {
    display: none !important;
}
h1 {
    font-size: 2.6rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px #ccc;
    letter-spacing: 2px;
    color: #fcfcfc;
    text-align: center;
}
/* === Main === */
main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* === Main Container === */
.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.main_container h1 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 3rem;
}
/* === Time Container === */

.time_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.time_container .heartbeat {
    width: 250px;
    margin-top: 50px;
}
.time_container .inner_container {
    display: flex;
    gap: 15px;
    align-items: center;
}
.time_container .inner_container .inner_item {
    text-align: center;
    /* border: 1px solid #ccc; */
    padding: 5px 10px;
    box-shadow: 0 0 1px rga(0, 0, 0, 0.1);
}

.time_container .inner_container .inner_item h2 {
    font-size: 2.7rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px #ccc;
    letter-spacing: 3px;
}
.time_container .inner_container .inner_item h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #c1c6d4;
}
/* === Setting === */
#dobForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dobForm form {
    margin: 40px 0 20px 0;
    display: flex;
    gap: 30px;
}
form :where(input, select, button) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
}
form p {
    font-size: 16px;
    margin-bottom: 5px;
}
form select {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #e884b4;
    min-width: 120px;
    background: transparent;
    color: #525252;
    font-weight: 100;
}
/* form select:focus {
    padding: 0 14px;
    border: 2px solid #675afe;
} */
#start {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #f095c1;
    min-width: 120px;
    background: transparent;
    color: #525252;
    font-weight: 100;
    background: #eca8c9;
    border-radius: 30px;
    margin-top: 40px;
}
