/* === Google Fonts include */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
	--white: #fff;
	--primary: #1f6feb;
	--black: #0d1117;
	--border: #30363d;
	--gray: #c9d1d9;
	--gray-text: #8b949e;
	--roboto: "Roboto", sans-serif;
	--oswald: "Oswald", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container_wrapper {
	max-width: 1000px;
	border: 1px solid var(--border);
	margin: 30px auto;
	padding: 16px;
	border-radius: 5px;
}
