/* === Google Fonts include */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
	--white: #fff;
	--primary: #1f6feb;
	--black: #0d1117;
	--border: #30363d;
	--gray: #c9d1d9;
	--gray-text: #8b949e;
	--roboto: "Roboto", sans-serif;
	--oswald: "Oswald", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container_wrapper {
	width: 100%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: var(--roboto);
}

.inner_container {
	padding: 35px;
	border: 1px solid var(--gray);
	border-radius: 6px;
}
.inner_container h1 {
	text-align: center;
	color: var(--primary);
	font-size: 2rem;
	margin: 6px;
}
.inner_container #question {
	font-size: 1.6rem;
	line-height: 30px;
	padding: 10px 0;
}

.inner_container form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}
.inner_container form input[type="number"] {
	padding: 8px 18px;
	font-size: 20px;
	color: var(--border);
	border: 1px solid var(--gray);
	border-radius: 5px;
}
.inner_container form input[type="number"]:focus {
	outline: none;
	border: 1px solid var(--primary);
}
.inner_container form button {
	padding: 8px 18px;
	font-size: 18px;
	color: var(--white);
	background: var(--primary);
	border: 1px solid var(--primary);
	outline: var(--primary);
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}
