/* Community Section Styles */

.community-container {
    text-align: center;
    overflow: hidden;
    padding: 5rem 0;
}

.community-title {
    font-size: 3rem;
    line-height: 1;
    color: #333;
    margin-bottom: 30px;
    transition: color 0.3s ease;
}

.community-description {
    color: #777;
    max-width: 75%;
    margin: 0 auto 4rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.community-description a {
    text-decoration: underline;
    font-weight: 600;
    color: #444;
}

/* Community Stats */
.community-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
    .community-stats {
        flex-direction: column;
        align-items: center;
    }
}

.stat-box {
    /* background-color: #fff; */
    border-radius: 12px;
    /* box-shadow: 0 12px 8px rgba(0, 0, 0, 0.2); */
    padding: 20px;
    width: 230px;
    text-align: center;
    position: relative;
}

.stat-icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.stat-number {
    font-size: 3rem;
    color: #333;
    margin: 0;
    animation: fadeIn 0.5s ease-in-out;
}

.stat-text {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
}

.community-button:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
    transform: translateY(-2px);
}
.community-button s {
    color: #fff;
}

/* Small Text and Status Styles */
.small-text {
    font-size: 0.8rem;
    color: #999;
    margin-top: 10px;
}

.loading,
.error {
    font-size: 1.2rem;
    color: #000;
    margin-top: 20px;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
