body {
    font-family: "Arial", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.piano {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.white-key,
.black-key {
    width: 50px;
    height: 200px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

.white-key {
    background-color: #fff;
}

.black-key {
    position: relative;
    background-color: #000;
    width: 30px;
    height: 120px;
    margin-left: -15px;
    z-index: 1;
}
