@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
   margin: 0px;
   padding: 0px;
}

body {
   font-family: "Kode Mono", monospace;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
}

.timer-container {
   width: 100%;
   position: absolute;
   z-index: 999;
   text-align: center;
}

#timer {
   margin-bottom: 20px;
   text-align: center;
   color: #fff;
   font-size: 7rem;
   font-weight: 500;
}

button {
   background-color: transparent;
   font-family: "Roboto", monospace;
   border: 2px solid #9f9fe7;
   text-transform: uppercase;
   color: #eeeeef;
   padding: 18px 40px;
   border-radius: 25px;
   margin: 5px 14px;
   font-size: 16px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   letter-spacing: 2px;
   transition: color 0.3s ease, background-color 0.3s ease;
}

button:hover {
   color: #fff;
   background-color: #4a51d4;
}

button::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   background-color: #4e54c8;
   z-index: -1;
   transition: transform 0.3s ease;
}

button:hover::before {
   transform: scale(1.2);
}

.area {
   background: #4e54c8;
   background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
   width: 100%;
   height: 100vh;
}

.circles {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.circles li {
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   background: rgba(255, 255, 255, 0.2);
   animation: animate 25s linear infinite;
   bottom: -150px;
}

.circles li:nth-child(1) {
   left: 25%;
   width: 80px;
   height: 80px;
   animation-delay: 0s;
}

.circles li:nth-child(2) {
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-duration: 12s;
}

.circles li:nth-child(3) {
   left: 70%;
   width: 20px;
   height: 20px;
   animation-delay: 4s;
}

.circles li:nth-child(4) {
   left: 40%;
   width: 60px;
   height: 60px;
   animation-delay: 0s;
   animation-duration: 18s;
}

.circles li:nth-child(5) {
   left: 65%;
   width: 20px;
   height: 20px;
   animation-delay: 0s;
}

.circles li:nth-child(6) {
   left: 75%;
   width: 110px;
   height: 110px;
   animation-delay: 3s;
}

.circles li:nth-child(7) {
   left: 35%;
   width: 150px;
   height: 150px;
   animation-delay: 7s;
}

.circles li:nth-child(8) {
   left: 50%;
   width: 25px;
   height: 25px;
   animation-delay: 15s;
   animation-duration: 45s;
}

.circles li:nth-child(9) {
   left: 20%;
   width: 15px;
   height: 15px;
   animation-delay: 2s;
   animation-duration: 35s;
}

.circles li:nth-child(10) {
   left: 85%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 11s;
}

@keyframes animate {
   0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
   }

   100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
   }
}
