body {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

#markdownPreview {
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 200px;
}
