/* Google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	background: #202124;
	color: #f7f7f7;
	font-family: "Roboto", sans-serif;
}

/* === Default === */
.hide {
	display: none !important;
}
h1 {
	font-size: 2.6rem;
	font-weight: 600;
	text-shadow: 2px 2px 4px #ccc;
	letter-spacing: 2px;
	color: #fcfcfc;
}
/* === Main Container === */
.main_container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* === Time Container === */

.time_container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.time_container .heartbeat {
	width: 250px;
	margin-top: 50px;
}
.time_container .inner_container {
	display: flex;
	gap: 15px;
	align-items: center;
}
.time_container .inner_container .inner_item {
	text-align: center;
	/* border: 1px solid #ccc; */
	padding: 5px 10px;
	box-shadow: 0 0 1px rga(0, 0, 0, 0.1);
}

.time_container .inner_container .inner_item h2 {
	font-size: 2.7rem;
	font-weight: 700;
	text-shadow: 2px 2px 4px #ccc;
	letter-spacing: 3px;
}
.time_container .inner_container .inner_item h4 {
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 10px;
	letter-spacing: 1.5px;
	color: #c1c6d4;
}
/* === Setting === */
.settings {
	position: fixed;
	bottom: 60px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #f0fbff;
	padding: 8px 10px;
	border-top-left-radius: 55px;
	border-bottom-left-radius: 55px;
	transition: all 0.6s ease-in-out;
}
.settings #settingIcon {
	width: 25px;
	height: 25px;
	cursor: pointer;
	animation: img-spin 2s linear infinite;
}
.settings .hide {
	display: none;
}

.settings .setting_content .inner_content {
	display: flex;
}

.setting_content .inner_content input,
.setting_content .inner_content button {
	padding: 4px 8px;
	outline: none;
}

.setting_content .inner_content input:hover,
.setting_content .inner_content input:focus,
.setting_content .inner_content button:focus,
.setting_content .inner_content button:hover {
	outline: none;
}
.setting_content .inner_content input {
	border: 1px solid #ccc;
	border-radius: 2px;
}
.setting_content .inner_content button {
	border: 1px solid #202124;
	background: #202124;
	color: #f7f7f7;
}

@keyframes img-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
