/* Google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	background: #202124;
	color: #f7f7f7;
	font-family: "Roboto", sans-serif;
}

/* === Default === */
.hide {
	display: none !important;
}
h1 {
	font-size: 2.6rem;
	font-weight: 500;
}
/* === Main Container === */
.main_container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* === Time Container === */

.time_container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.time_container .inner_container {
	display: flex;
	gap: 15px;
	align-items: center;
}
.time_container .inner_container .inner_item {
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px 20px;
	box-shadow: 0 0 1px rga(0, 0, 0, 0.1);
}

.time_container .inner_container .inner_item h2 {
	font-size: 3rem;
}
.time_container .inner_container .inner_item h4 {
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 8px;
}
/* === Setting === */
.settings {
	position: fixed;
	bottom: 20px;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.settings #settingIcon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.settings .hide {
	display: none;
}

.settings .setting_content .inner_content {
	display: flex;
}

.setting_content .inner_content input,
.setting_content .inner_content button {
	padding: 4px 8px;
}

.setting_content .inner_content button {
	border: 1px solid #202124;
	background: #202124;
	color: #f7f7f7;
}
