/* Google Fonts Include */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
    --primary: #47185c;
    --primary-dark: #14001d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
}
body {
    background: var(--primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 35px 25px;
    background: #efefef;
    border: 1px solid #efefef;
    border-radius: 4px;
}
.container .heading {
    text-align: center;
    padding: 6px;
    margin-bottom: 30px;
}
.container .heading p {
    color: #3e3d3d;
    margin-top: 5px;
}
.container form#qrForm {
    display: flex;
    flex-direction: column;
    gap: 10;
}
.container form#qrForm input,
.container form#qrForm button {
    padding: 10px 18px;
    outline: none;
    font-size: 16px;
}

.container form#qrForm input {
    border: 1px solid #ccc;
    color: #14001d;
    margin-bottom: 15px;
}
.container form#qrForm button {
    background: var(--primary);
    color: #efefef;
    cursor: pointer;
}
.container .qrCode {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    /* opacity: 0; */
}
.container .qrCode.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}
.container .qrCode img {
    width: 120px;
    border: 1px solid #ccc;
    padding: 6px;
}
