@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

:root {
    --primary-color: #101820; /* Dark Black */
    --accent-color: #fee715; /* Bright Yellow */
    --body-bg: #ffff;
}
@font-face {
    font-family: "Mexcellent";
    src: url("../fonts/mexcellent-rg.ttf") format("truetype");
    /* Add other formats if available (e.g., .woff, .woff2) */
}
@font-face {
    font-family: "BroetownSignature";
    src: url("../fonts/Broetown-Signature.ttf") format("truetype");
    /* Add other formats if available (e.g., .woff, .woff2) */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg); /* Background uses primary color */
    color: var(--primary-color); /* Text uses accent color */
    font-family: "Roboto", Helvetica, sans-serif;
    /* overflow: hidden; */
}

h1,
h2,
h3,
p,
a {
    color: var(
        --primary-color
    ); /* Apply accent color to headings, paragraphs, and links */
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 830px !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}
/* Loader container */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* Loading count text */
#loading-count {
    font-size: 6rem;
    font-family: Arial, sans-serif;
    z-index: 2; /* Display above the backgrounds */
    color: var(--primary-color);
    transition: opacity 0.5s ease; /* Smooth fade out */
}

/* Background sections */
#loader-bg-top,
#loader-bg-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    background: var(--accent-color); /* Same color initially */
    z-index: 1;
    transition: background-color 1s ease, transform 2s ease-in-out;
}

#loader-bg-top {
    top: 0;
    transform: translateY(0);
}

#loader-bg-bottom {
    bottom: 0;
    transform: translateY(0);
}

/* Change background color and trigger split animation */
.split-bg #loader-bg-top {
    transform: translateY(-100%);
    background-color: var(--body-bg);
}

.split-bg #loader-bg-bottom {
    background-color: var(
        --accent-color
    ); /* Color changes to green after loading */
    transform: translateY(100%);
}

/* Hidden state for loader */
.hidden {
    display: none;
}

/* Content of the website */
.content {
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 1s ease-in;
}

.content.visible {
    display: block; /* Make it block after the animation is done */
    opacity: 1;
}
/* === Header CSS === */
header {
    background-color: var(--accent-color);
    padding: 4rem 0;
    width: 100%;
    height: 450px;
}
header .container {
    height: 100%;
}
header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo a {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Mexcellent", sans-serif;
    color: #ff0000;
}
.header .logo span {
    width: 35px;
    height: 35px;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -6px;
}
.header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}
.header ul li a {
    text-transform: lowercase;
    font-size: 1rem;
    color: #464646;
    transition: all 0.3s ease;
}
.header ul li a:hover {
    color: #000000;
}
.header ul li a.buy-coffee-button {
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
/* Home Hero */
.home_hero {
    width: 100%;
    height: 100%;
    min-height: 430px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.home_hero h1 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
    color: var(--primary-color);
    font-family: "Mexcellent", sans-serif;
}
.home_hero p {
    color: #000000;
    font-size: 2rem;
    font-family: "BroetownSignature", sans-serif;
    font-weight: 600;
    word-spacing: 4px;
}
.home_hero a.btn {
    border: 1px solid var(--primary-color);
    padding: 0.7rem 1rem;
    margin-top: 3rem;
    background: black;
    color: #c7c7c7;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.3s ease;
}
.home_hero a.btn:hover {
    color: #ffffff;
}

/* === Project Lists === */
.project-lists {
    padding: 0rem 0;
}

section .category-section {
    padding: 1rem 0;
}
.category-section .category-level {
    font-size: 2.4rem;
    margin: 3rem 0 1rem;
    /* font-family: "Mexcellent", sans-serif; */
}
.category-section ul {
    list-style: none;
}
.category-section ul li {
    padding: 10px 0;
}

/* === Page CSS === */
.page h1.page-title {
    font-size: 2.4rem;
    margin: 3rem 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.page h2 {
    font-size: 1.5re4;
    padding: 2rem 0 0.6rem;
}
.page ul {
    margin-left: 20px;
    padding: 10px 0;
}
.page ul li {
    margin: 10px 0;
}
/* === Footer CSS === */
/* Container for the footer */
footer {
    background-color: var(--primary-color); /* Dark background */
    padding: 20px 0;
    color: #fff; /* White text */
    text-align: center; /* Center-align content */
    font-size: 16px;
    margin-top: 40px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.footer object {
    margin-right: 10px;
}

.footer span {
    color: var(--accent-color); /* Yellow color for the heart */
    font-size: 18px;
}
.footer span.heart-icon {
    color: red;
}
.footer a {
    color: var(--accent-color); /* Yellow text for the link */
    text-decoration: none;
    font-weight: bold;
    /* font-weight: 200; */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* For smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer object {
        margin-bottom: 10px;
    }
}
