/* src/components/WhatYoullLearn.css */

/* Container Styling */
#learn {
    /* background: var(--accent-color);
    background-image: linear-gradient(
        to top,
        #f3e7e9 0%,
        #e3eeff 99%,
        #e3eeff 100%
    ); */
    padding: 5rem;
}

/* Section Title */
.section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    font-family: "Arial", sans-serif;
}

/* Grid Layout */

/* Card Styling */
.learn-card {
    /* background-color: #ffffff70; */
    border-radius: 12px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-top: 1rem;
}

.learn-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

/* Icon Styling */
.learn-icon {
    font-size: 3rem;
}

/* Text Styling */
.learn-info {
    display: flex;
    flex-direction: column;
}

.learn-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
    margin: 0;
}

.learn-description {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}
