body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
}

#game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hidden {
    display: none;
}

#reset-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
