@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

/* Custom background overlay */
.background-overlay {
    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-color: white;
    background: linear-gradient(to right, #8080800a 1px, transparent 1px),
        linear-gradient(to bottom, #8080800a 1px, transparent 1px);
    background-size: 14px 24px;
}

/* Circle overlay styling */
.circle-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    z-index: -10;
    margin: auto;
    height: 310px;
    width: 310px;
    border-radius: 50%;
    background-color: #d9007b; /* Fuchsia color */
    opacity: 0.1;
    filter: blur(100px);
}

/* General container styling */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Content container styling */
.content-container {
    position: relative;
    z-index: 1; /* Ensure content appears above the background */
    color: #333; /* Text color */
    width: 100%;
    height: 100%;
}

/* Example text styling */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.25rem;
}

/* Header Styling */
#header {
    padding: 1.5rem 0; /* Top and bottom padding for spacing */
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .brand-name {
    font-size: 1.6rem;
    font-weight: 600;
}
.header .brand-name a {
    text-decoration: none;
    color: #111827;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: #555;
    font-size: 1.15rem;
}
.header ul li a:hover {
    color: #d9007b;
}
.header ul li a i {
    font-size: 1.6rem;
}

/* Hero section */
#hero {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.custom-snippet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 9999px; /* Full rounded corners */
    background-color: white;
    color: #64748b; /* Slate color */
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    backdrop-filter: blur(8px); /* Blur effect for background */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #797878;
    margin-bottom: 1rem;
}

.custom-snippet:hover {
    background-color: #f1f5f9; /* Lighter shade on hover */
}

.custom-snippet .read-more {
    display: inline-flex;
    align-items: center;
    padding-left: 8px;
    color: black;
    transition: color 0.3s;
}

.custom-snippet .read-more .arrow-icon {
    padding-left: 4px;
}

.hero h1.title {
    font-size: 3.75rem;
    line-height: 1.2;
    padding-bottom: 1rem;
    color: #111827;
    font-weight: 500;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}
.hero p.description {
    color: #787878;
    font-size: 1.2rem;
    width: 65%;
    margin: 0 auto;
    word-spacing: 1px;
    line-height: 1.4;
}

.hero .btn-section {
    margin-top: 4rem;
}

.hero .btn {
    border: 1px solid #efefef;
    padding: 0.8rem 1.6rem;
    margin: 10px;
    text-decoration: none;
    border-radius: 26px;
    color: #dbdbdb;
}

.btn-section .github {
    background-color: #09090b;
}
.btn-section .github:hover {
    background-color: #3f3f46;
}
.btn-section .project {
    background-color: #fafafa;
    color: #09090b;
}
.btn-section .project:hover {
    background-color: #f4f4f5;
    color: #09090b;
}
/* Project Showcase Section Styling */
#project-showcase {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}
.showcase-container {
    padding: 0 20px;
}
.showcase-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 500;
}
.showcase-description {
    font-size: 1.2em;
    color: #666;
    /* margin-bottom: 30px; */
    width: 75%;
    margin: 30px auto;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.project-card:hover {
    transform: translateY(-5px);
}
.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #222;
}
.project-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}
.project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}
.project-link:hover {
    color: #0056b3;
}

/* Footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
