/*=== Google Fonts ===*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500&display=swap");

:root {
    --primary: #fffb00;
    --js-color: #ffdf00;
}
@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/Carnas\ W03\ Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px; /* 1rem - 16px */
}

body {
    width: 100%;
    height: 100vh;
    color: #303030;
    background: rgb(0 0 0 / 3%);
}
a {
    color: #302f2f;
    text-decoration: none;
}
/* === Custom Scrolling === */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #dedddd;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
    background: #888;
}

body::-webkit-scrollbar-button {
    display: none;
}
/* === Canvas === */
#pradip-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* main */
main {
    width: 1200px;
    margin: auto;
}
header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    color: #060606;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header .brand h1 {
    font-size: 4rem;
}
header .brand h1 span {
    font-size: 1.4rem;
    font-weight: 300;
    color: #2200ff;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
}
header .brand h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 8px;
    margin-top: -14px;
    padding-left: 11px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    color: #000;
    font-weight: 300;
    list-style: none;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}
/* Project lists */
#container {
    margin-top: 30px;
}
h2.cat-title {
    margin-bottom: 25px;
    font-weight: 400;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}
.projects-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
/* project item */
.project-item {
    width: 285px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #efefef;
    background: #faf9f9;
    border-radius: 5px;
}
.projects-list {
    list-style: none;
}
.projects-list li {
    padding: 5px;
    display: flex;
    gap: 40px;
}
/* hover */
ul.list li .project-name:hover,
ul.list li .code-link:hover {
    color: #2200ff;
    border-radius: 2px;
}

/* === Footer CSS === */
footer {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    color: #000;
    padding: 7rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > span {
    color: #ff0000;
}

footer > a {
    color: #2200ff;
    font-weight: bold;
}
footer > a:hover {
    color: #1702a1;
}

footer > object {
    width: 26px;
    color: rgba(219, 219, 219, 0.546);
}

/* Mobile  */
