/* Google Fonts Include */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
    --primary: #e5cff7;
    --secondary: #9d76c1;
    --third: #713abe;
    --forth: #5b0888;
    --hover: #631e89;
    --light-color: #efefef;
    --roboto: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--roboto);
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
    background: var(--primary);
    color: var(--forth);
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.container {
    padding: 10px;
}
.container .inner_container {
    padding: 25px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}
.container .inner_container h1.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .inner_container h1.header i {
    color: var(--forth);
    font-size: 8rem;
    margin: 15px;
}
.inner_container #password {
    background: var(--secondary);
    color: var(--light-color);
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    margin: 25px 0;
}

/* === Checkbox === */
.inner_container .checkboxes {
    margin: 3rem 0;
}
.inner_container .checkboxes .form_controler {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.inner_container .checkboxes .form_controler label {
    font-weight: 400;
    font-size: 17px;
}

.form_controler #passwordRangeValue {
    font-size: 18px;
}

input[type="checkbox"] {
    accent-color: var(--forth);
}
/* === Button === */
.button_container {
    width: 100%;
}
.button_container #generateButton {
    background: var(--forth);
    color: var(--light-color);
    border: none;
    padding: 1.3rem 0;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button_container #generateButton:hover,
.button_container #generateButton:active {
    background: var(--hover);
    color: var(--light-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
/* === Range CSS === */
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 0.2rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: var(--secondary);
    width: 100%;
    margin-top: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2.4rem;
    width: 0.8rem;
    background-color: var(--forth);
    border: 1px solid var(--forth);
    border-radius: 6px;
}
