/* === Google Fonts include */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
    --white: #fff;
    --primary: #4e8eb2;
    --black: #0d1117;
    --border: #30363d;
    --gray: #c9d1d9;
    --gray-text: #8b949e;
    --roboto: "Roboto", sans-serif;
    --oswald: "Oswald", sans-serif;
}

/* 
 cla color : 4E8EB2
 key color : 75ACD8
 key select color : 43627C
 border color : 00253A




*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border);
    font-family: var(--roboto);
}

.calculator {
    width: 360px;
    height: 500px;
    background: var(--primary);
    border: 3px solid #97c9ed;
    outline: 4px solid #4e8eb2;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}
.heading .brand {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.display {
    width: 90%;
    height: 80px;
    margin-bottom: 16px;
    border: 5px solid #4286f0;
    font-size: 1.4rem;
    font-weight: 500;
}
.display:hover,
.display:focus {
    outline: none;
}
.key_container {
    background: #75acd8;
    padding: 16px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 70%) 0px 1px 5px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    justify-content: center;
}

.input_group {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    padding: 2px 15px;
}

button {
    background: #75acd8;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5e99ca;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
