body {
    margin: 0;
    background: linear-gradient(
        to left bottom,
        lightblue,
        lightpink,
        lightblue
    );
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .header {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.container .header h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.container .header p.quote {
    font-size: 1.6rem;
    line-height: 1.8;
    width: 70%;
    min-width: 80%;
    margin: 30px auto;
    min-height: 200px;
}
.btn {
    padding: 16px;
    background: linear-gradient(
        to left bottom,
        lightblue,
        lightpink,
        lightblue
    );
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    min-width: 280px;
    margin: 10px 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
