* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* === Container Size Set ===  */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* === Header CSS === */
.header {
    width: 100%;
    height: 500px;
    position: relative;
    /* background: url(../img/pixelbg.jpg) no-repeat center center; */
    background-size: cover;
}
.nav_brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

/* Menu */
.nav_brand .nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav_menu button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.1rem;
    text-transform: capitalize;
    cursor: pointer;
}
.nav_menu button:last-child {
    background: #fff;
    color: #000;
    padding: 13px 20px;
    border-radius: 5px;
}
.nav_menu .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.center_content {
    width: 40%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center_content h3 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.center_content .input_search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.input_search input {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.125rem;
    color: #7f7f7f;
    font-weight: 600;
}
.input_search input::placeholder {
    color: #7f7f7f;
    opacity: 1; /* Firefox */
    font-size: 1.125rem;
}

.input_search input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7f7f7f;
}

.input_search input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #7f7f7f;
}
.input_search i {
    position: absolute;
    color: #7f7f92;
    right: 2%;
    cursor: pointer;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: normal;
    transition: all;
    transition-duration: 300ms;
}
.input_search i:hover {
    color: #05a081;
}

.bottom_text p {
    font-size: 1.1rem;
}
.bottom_text p span {
    opacity: 0.7;
    font-weight: 500;
}

/* === Main CSS === */
.home_tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.home_tabs button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 40px;
    text-transform: capitalize;
    transition-duration: 300ms;
    cursor: pointer;
}
.home_tabs button:first-child {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
}
.home_tabs button:hover {
    opacity: 0.8;
}

/* Title */
.image_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.image_title h4 {
    font-size: 1.5rem;
    color: #2c343e;
}
.image_title .main_filter {
    padding: 10px;
    /* color: #2c343e; */
    font-size: 1.1rem;
    color: #000;
    border-color: #dfdfe0;
    background: #fff;
    border-radius: 6px;
}
.image_title .main_filter:hover,
.image_title .main_filter:focus {
    outline: none;
    border: 1px solid #dfdfe0;
}

/* === Image Container === */
.image_container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    position: relative;
}
.image_container .images {
    gap: 15px;
    list-style: none;
    max-width: 95%;
    margin-top: 50px;
    columns: 5 340px;
    margin-bottom: 30px;
}
.image_container .images .pic_list {
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    position: relative;
}
.pic_list img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.pic_list .details {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185);
    position: absolute;
    z-index: 99;
    padding: 15px;
    display: none;
    overflow: hidden;
}

.details .top_details {
    display: flex;
    gap: 10px;
}
.details .top_details button {
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    color: #737373;
}
.details .bottom_details {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
    overflow: hidden;
}
.details .bottom_details .auth_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
}
.details .bottom_details .auth_detail img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.auth_detail h6 {
    font-weight: 400;
    color: #fff;
}
.details .bottom_details button {
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    color: #737373;
}

/* Button Hover */
/* 
/* details hover */
.pic_list:hover .details {
    display: block;
}
