/* === Header CSS === */
header {
    padding: 4rem 0;
    width: 100%;
}
header .container {
    height: 100%;
}
header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo a {
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Roboto", serif;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 18px;
    justify-content: center;
}
.header ul li a {
    text-transform: lowercase;
    font-size: 1.2rem;
    color: #464646;
    transition: all 0.3s ease;
}
.header ul li a:hover {
    color: #000000;
}
.header ul li a.buy-coffee-button {
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
