@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e44;
}
.digital-clock {
    position: relative;
    color: #fff;
    background: #2d2f41;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    padding: 20px 75px;
    width: 425px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour,
.dots,
.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
}
.hour,
.minutes {
    font-size: 6.5rem;
    width: 125px;
}
.dots {
    font-size: 5rem;
    color: #929292;
}
.hour {
    background: -webkit-linear-gradient(90deg, #634dff, #5f4fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.minutes {
    background: -webkit-linear-gradient(90deg, #ff5e9a, #ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}
.period,
.seconds {
    font-size: 1.2rem;
    font-weight: 500;
}
.period {
    transform: translateY(-20px);
    background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.seconds {
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93fa);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #b1f64a, #ffb0ab);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    gap: 5px;
}
