body {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    margin: 10px 0;
}

#qrcode {
    margin-top: 20px;
}
