/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
