/* components/Error.css */

.error-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffefef;
}

.error-container {
    text-align: center;
}

.error-text {
    color: #d9534f;
    font-size: 1.5em;
}

.retry-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.retry-button:hover {
    background-color: #c9302c;
}
