/* === Google Fonts === */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url(./pattern1.png);
    color: #e0e0e0;
}
.container {
    width: 400px;
    height: auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.container h4 {
    font-size: 30px;
    color: #e1e1e1;
}
.input_field_box input:focus {
    outline: 1.5px solid #00b991;
    outline-offset: 2px;
}
form button {
    margin-top: 25px;
    width: 92%;
    font-size: 16px;
    padding: 14px 0;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    pointer-events: none;
    cursor: pointer;
    background: #e9d585;
    transition: all 0.2s ease;
}
form button.active {
    background: #ffcc00;
    pointer-events: auto;
    color: #000000;
}
form button:hover {
    background: #e6b801;
}
.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.input_field_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.input_field_box input {
    border: none;
    max-width: 20%;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    background: #f0f0f0;
    font-size: 25px;
}
.input_field_box input::-webkit-inner-spin-button,
.input_field_box input::-webkit-outer-spin-button {
    display: none;
}
