:root {
    --rotateAngle: 0;
    --undoAngle: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "lato", Arial, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}
.wrapper h1 {
    text-align: center;
    margin: 15px;
    margin-bottom: 50px;
}
.clockContainer {
    width: 23rem;
    height: 23rem;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    background: rgb(49, 47, 47);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7),
        0px 0px 20px rgba(0, 0, 0, 0.7);
    /* box-shadow: 0 -1.2em 1.2em rgba(255, 255, 255, 0.06),
        inset 0 -1.2em 1.2em rgba(255, 255, 255, 0.06),
        0 1.2em 1.2em rgba(0, 0, 0, 0.3), inset 0 1.2em 1.2em rgba(0, 0, 0, 0.3); */
    position: relative;
}

/* === Clock hand CSS === */
.clockContainer .hand {
    background-color: black;
    width: 8px;
    height: 40px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /*transform: translateX(-50%); translate the object backwards 50% of its width*/
    transform-origin: bottom;
    z-index: 10; /*so that hand always comes on the top of numbers*/
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.clockContainer .hour {
    width: 0.6rem;
    height: 6rem;
    background: red;
}
.clockContainer .minute {
    width: 0.5rem;
    height: 8rem;
    background: green;
}
.clockContainer .second {
    width: 5px;
    height: 8rem;
    background: #fff;
}
.clockContainer::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    z-index: 11;
    width: 1.1rem;
    height: 1.1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.clockContainer .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotateAngle));
    font-size: 1.8rem;
    padding: 0.7rem;
}
.clockContainer .number-1 {
    --rotateAngle: 30deg;
}
.clockContainer .number-2 {
    --rotateAngle: 60deg;
}
.clockContainer .number-3 {
    --rotateAngle: 90deg;
}
.clockContainer .number-4 {
    --rotateAngle: 120deg;
}
.clockContainer .number-5 {
    --rotateAngle: 150deg;
}
.clockContainer .number-6 {
    --rotateAngle: 180deg;
}
.clockContainer .number-7 {
    --rotateAngle: 210deg;
}
.clockContainer .number-8 {
    --rotateAngle: 240deg;
}
.clockContainer .number-9 {
    --rotateAngle: 270deg;
}
.clockContainer .number-10 {
    --rotateAngle: 300deg;
}
.clockContainer .number-11 {
    --rotateAngle: 330deg;
}

.clockContainer .number .undo {
    transform: rotate(var(--undoAngle));
}

.clockContainer .number-1 .undo {
    --undoAngle: -30deg;
}
.clockContainer .number-2 .undo {
    --undoAngle: -60deg;
}
.clockContainer .number-3 .undo {
    --undoAngle: -90deg;
}
.clockContainer .number-4 .undo {
    --undoAngle: -120deg;
}
.clockContainer .number-5 .undo {
    --undoAngle: -150deg;
}
.clockContainer .number-6 .undo {
    --undoAngle: -180deg;
}
.clockContainer .number-7 .undo {
    --undoAngle: -210deg;
}
.clockContainer .number-8 .undo {
    --undoAngle: -240deg;
}
.clockContainer .number-9 .undo {
    --undoAngle: -270deg;
}
.clockContainer .number-10 .undo {
    --undoAngle: -300deg;
}
.clockContainer .number-11 .undo {
    --undoAngle: -330deg;
}
