/* === Google Fonts include */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
    --white: #fff;
    --primary: #1f6feb;
    --black: #0d1117;
    --border: #30363d;
    --gray: #c9d1d9;
    --gray-text: #8b949e;
    --roboto: "Roboto", sans-serif;
    --oswald: "Oswald", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--gray);
    background: var(--black);
    font-family: var(--roboto);
}

.container {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    min-width: 300px;
    max-width: 800px;
}

/* === Header === */
header {
    width: 100%;
    text-align: center;
}
header h1 {
    font-family: var(--oswald);
    margin-bottom: 35px;
}
header .search_box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .search_box .search_input,
header .search_box .search_button {
    padding: 8px 16px;
    outline: none;
    font-size: 16px;
}
header .search_box .search_input {
    color: var(--gray-text);
    background: var(--black);
    min-width: 60%;
    outline: none;
    border: none;
    font-size: large;
    border-bottom: 1px solid var(--border);
}
header .search_box .search_input:focus {
    border-bottom: 1px solid var(--primary);
}

/* === Profile Box CSS === */
.inner_profile {
    padding: 25px;
    margin-top: 60px;
    font-family: var(--roboto);
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid var(--border);
}
.profile_box .profile_header {
    display: flex;
    justify-content: space-between;
}
.profile_box .profile_header .header_info {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.profile_box .profile_header .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_box .profile_header .profile_image img {
    width: 100%;
    height: 100%;
}
.profile_box .profile_header .profile_info {
    margin-left: 10px;
}
.profile_box .profile_header .profile_info .username {
    color: var(--gray-text);
    margin-top: 5px;
}

.profile_box .profile_header .profile_link {
    flex-basis: end;
}
.profile_box .profile_header .profile_link a {
    text-decoration: none;
    color: var(--gray-text);
    padding: 5px 16px;
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 0.8rem;
    transition: all 0.3s;
}
.profile_box .profile_header .profile_link a:hover {
    color: var(--gray);
}

/* Profile main */
.profile_box main {
    margin-top: 30px;
    margin-bottom: 60px;
}
.profile_box main h1 {
    border-bottom: 1px solid var(--border);
    padding-bottom: 6px;
    margin-bottom: 10px;
    color: var(--gray);
}
.profile_box main .bio {
    color: var(--gray-text);
    margin-bottom: 30px;
}
.profile_box main .more_profile_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_box .more_profile_info div {
    font-family: var(--oswald);
    display: flex;
    font-size: 19px;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.profile_box .more_profile_info div h3 {
    font-size: 17px;
    font-weight: 300;
    color: var(--gray-text);
}

#popular_repos {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#popular_repos a {
    text-decoration: none;
    color: var(--gray);
    background: var(--primary);
    padding: 5px 16px;
    border-radius: 16px;
    font-size: 15px;
}
