/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/**

##FFE400

**/
:root {
    --primary-color: #101820; /* Dark Black */
    --accent-color: #ffe400; /* Bright Yellow */
    --body-bg: #ffff;
}
/* @font-face {
    font-family: "Mexcellent";
    src: url("./assets/fonts/mexcellent-rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: "BroetownSignature";
    src: url("./assets/fonts/Broetown-Signature.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set global styles for the body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--primary-color); /* Text uses accent color */
}

/* Apply the overlay styles */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
    mask-image: radial-gradient(
        ellipse 50% 50% at 50% 50%,
        #000 70%,
        transparent 100%
    );
    z-index: -1; /* Ensure it stays in the background */
}
h1,
h2,
h3,
p,
a {
    color: var(
        --primary-color
    ); /* Apply accent color to headings, paragraphs, and links */
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}
.loading-container {
    text-align: center;
    font-size: 1.5rem;
    color: #007bff; /* Bootstrap primary color */
}

.error-message {
    text-align: center;
    color: red;
    font-size: 1.2rem;
}

/* Home Hero */
.home_hero {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home_hero h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    padding-bottom: 1rem;
    color: #111827;
    font-weight: 500;
    width: 75%;
    margin: 0 auto;
}
.home_hero p {
    color: #4b5563;
    font-size: 1.2rem;
    width: 65%;
    margin: 0 auto;
    /* font-family: "BroetownSignature", sans-serif; */
    font-weight: 600;
    word-spacing: 4px;
}
.home_hero .hero-btn {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_hero a button {
    border: 1px solid #171717;
    padding: 0.6rem 1rem;
    margin-top: 3rem;
    background: #171717;
    color: #fafafa;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}
.home_hero button:hover {
    color: #ffffff;
}

/* === Footer CSS === */
footer {
    padding: 20px 0;
    color: #222; /* White text */
    text-align: center; /* Center-align content */
    font-size: 16px;
    margin-top: 40px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.footer object {
    margin-right: 10px;
}

.footer span {
    color: var(--accent-color); /* Yellow color for the heart */
    font-size: 18px;
}
.footer span.heart-icon {
    color: red;
}
.footer a {
    color: #2c48ad; /* Yellow text for the link */
    text-decoration: none;
    font-weight: bold;
    /* font-weight: 200; */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* For smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer object {
        margin-bottom: 10px;
    }
}

/* ========================================================================= */

.project-detail-container {
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.project-detail-container h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #333;
}

.project-detail-container p {
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
}

.project-detail-container strong {
    color: #333;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #007bff;
}

.error {
    text-align: center;
    font-size: 18px;
    color: red;
}
