/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/**

##FFE400

**/
:root {
    --primary-color: #101820; /* Dark Black */
    --accent-color: #ffe400; /* Bright Yellow */
    --body-bg: #ffff;
}
@font-face {
    font-family: "Mexcellent";
    src: url("./assets/fonts/mexcellent-rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BroetownSignature";
    src: url("./assets/fonts/Broetown-Signature.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg); /* Background uses primary color */
    color: var(--primary-color); /* Text uses accent color */
    font-family: "Raleway", Helvetica, sans-serif;
    /* overflow: hidden; */
}

h1,
h2,
h3,
p,
a {
    color: var(
        --primary-color
    ); /* Apply accent color to headings, paragraphs, and links */
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 830px !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}
.loading-container {
    text-align: center;
    font-size: 1.5rem;
    color: #007bff; /* Bootstrap primary color */
}

.error-message {
    text-align: center;
    color: red;
    font-size: 1.2rem;
}

/* === Header CSS === */
header {
    background-color: var(--accent-color);
    padding: 4rem 0;
    width: 100%;
    /* height: 450px; */
}
header .container {
    height: 100%;
}
header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo a {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Mexcellent", sans-serif;
    color: #ff0000;
}
.header .logo span {
    width: 35px;
    height: 35px;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -6px;
}
.header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}
.header ul li a {
    text-transform: lowercase;
    font-size: 1rem;
    color: #464646;
    transition: all 0.3s ease;
}
.header ul li a:hover {
    color: #000000;
}
.header ul li a.buy-coffee-button {
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
/* Home Hero */
.home_hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: var(--accent-color);
    padding: 5rem 0;
}
.home_hero h1 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
    color: var(--primary-color);
    font-family: "Mexcellent", sans-serif;
}
.home_hero p {
    color: #000000;
    font-size: 2rem;
    font-family: "BroetownSignature", sans-serif;
    font-weight: 600;
    word-spacing: 4px;
}
.home_hero a.btn {
    border: 1px solid var(--primary-color);
    padding: 0.7rem 1rem;
    margin-top: 3rem;
    background: black;
    color: #c7c7c7;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.3s ease;
}
.home_hero a.btn:hover {
    color: #ffffff;
}

/* === Project Lists === */
.project-lists {
    padding: 0rem 0;
}
.category-section {
    padding: 1rem 0;
    background: #fafafa;
    margin-bottom: 4rem;
}
.category-section .category-level {
    font-size: 1.8rem;
    line-height: 48px;
    margin: 3rem 0 1rem;
    font-weight: 600;
    font-family: "Mexcellent", sans-serif;
}
.category-section .projects {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.category-section .projects .project-item {
    background: #fff;
    border-color: #e6e6e6;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.category-section .projects .project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.project-item .thumbnail {
    background: #dfdfdf;
    background-image: linear-gradient(
        to top,
        #f3e7e9 0%,
        #e3eeff 99%,
        #e3eeff 100%
    );
    width: 100%;
    height: 120px;
    margin-bottom: 8px;
}
.project-item h3 {
    color: #222;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 6px;
}
.project-item p {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #555;
    margin: 3px 6px;
}
.project-item p.sm-font {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 6px;
}
.project-item strong {
    color: #555;
    font-weight: 500;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item a {
    color: #222;
    font-size: 0.9rem;
    line-height: 1.5rem;
    transition: all 0.3s ease;
}
.project-item a:hover h3 {
    color: #000;
}

/* src/components/WhatYoullLearn.css */

/* Container Styling */
#learn {
    background: var(--accent-color);
    background-image: linear-gradient(
        to top,
        #f3e7e9 0%,
        #e3eeff 99%,
        #e3eeff 100%
    );
    padding: 5rem;
}

/* Section Title */
.section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    font-family: "Arial", sans-serif;
}

/* Grid Layout */

/* Card Styling */
.learn-card {
    /* background-color: #ffffff70; */
    border-radius: 12px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-top: 1rem;
}

.learn-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

/* Icon Styling */
.learn-icon {
    font-size: 3rem;
}

/* Text Styling */
.learn-info {
    display: flex;
    flex-direction: column;
}

.learn-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
    margin: 0;
}

.learn-description {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

/* === Page CSS === */
.page h1.page-title {
    font-size: 2.4rem;
    margin: 3rem 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.page h2 {
    font-size: 1.5re4;
    padding: 2rem 0 0.6rem;
}
.page ul {
    margin-left: 20px;
    padding: 10px 0;
}
.page ul li {
    margin: 10px 0;
}
/* === Footer CSS === */
/* Container for the footer */
footer {
    background-color: var(--primary-color); /* Dark background */
    padding: 20px 0;
    color: #fff; /* White text */
    text-align: center; /* Center-align content */
    font-size: 16px;
    margin-top: 40px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.footer object {
    margin-right: 10px;
}

.footer span {
    color: var(--accent-color); /* Yellow color for the heart */
    font-size: 18px;
}
.footer span.heart-icon {
    color: red;
}
.footer a {
    color: var(--accent-color); /* Yellow text for the link */
    text-decoration: none;
    font-weight: bold;
    /* font-weight: 200; */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* For smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer object {
        margin-bottom: 10px;
    }
}

/* ========================================================================= */

.project-detail-container {
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.project-detail-container h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #333;
}

.project-detail-container p {
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
}

.project-detail-container strong {
    color: #333;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #007bff;
}

.error {
    text-align: center;
    font-size: 18px;
    color: red;
}
