* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#generator-container {
    text-align: center;
}

label {
    margin-right: 10px;
}

input {
    width: 40px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#password {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
